main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resultSection {
    display: none;
}

#copyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

div.code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 5px;
    background-color: #f0f0f0;

    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    overflow-wrap: break-word;

    max-width: 80vw;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    div.code {
        background-color: #333;
        color: #fff;
        border-color: var(--preformatted)
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}